@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
margin:0;
font-family: 'Luckiest Guy', cursive;
}


.wrapper{
position: absolute;
height:100%;
width:100%;
text-align:center;

background-image:url('img/background.jpg');
background-size: cover;
background-attachment: fixed;
}



.center{
margin:0 auto;
}

h1{
    font-size:5rem;
    text-align: center;
    margin:2vh;
}


div.select{
    margin:5vh 10vw 0;
    text-align: center;
    display:inline-grid;
    grid-template-columns:20vw 20vw 20vw;
    column-gap:3vw;
    height: 20vh;
}

.icon{
    width: 20xp;
}

.far{
    font-size:8rem;

}

button.start:hover{
    color:red;
}

button.start{
    display:block;
    margin:0 auto;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
    width: 20vw;
    background-color:rgba(0,0,0,0);
    color:black;
    border:none;

    
}

/*grid container */

.game-container{
    margin:2vh auto 0;
    width:50vw;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh;
}


.computer{
    height: 20vh;
    grid-column: 1/2;
    grid-row: 1/4;
    font-size:2rem;
    
}

.my-choice{
    display: block;
    height: 10vh;
}

#my-choice{
    font-size:5rem;
}

.result{
    grid-column: 1/2;
    grid-row: 3/4;
    margin:10px;
    font-size: 2.5rem;
    text-align: center;
}

.game-result{
    grid-column: 2/3;
    grid-row: 1/4;
   font-size: 2rem;
   padding:4px;
}

p{
    padding:2%;
}

/*buttons*/
.simple-button{
    margin:15px auto 5vh;
    text-align:center;
    width:150px;
    height: 50px;
    background-color:inherit;
    font-size: 1.5rem;

}

/*landcape media queries*/

@media (max-width:1366px) and (orientation: landscape){

    h1{
        font-size:6.5rem;
       }

    button.start{
        font-size: 5.5rem ;
        margin:0 auto 0;
    }
    .far{
        font-size:9rem;
    }

    .computer, .result, .game-result{
        font-size: 3rem;
    }


    .result{
        padding:5vh;
    }
    div.select{
        margin:1vh 5vw 0;
    }
}

@media (max-width:1024px) and (orientation: landscape){
    h1{
        font-size:4.5rem;
       }

    button.start{
        font-size: 4.5rem ;
        margin:0 auto 0;
    }
    .far{
        font-size:9rem;
    }

    .computer, .result, .game-result{
        font-size: 2.5rem;
    }

}

@media (max-width:812px) and (orientation: landscape){
    h1{
        font-size:2.5rem;
       }

    button.start{
        font-size: 2rem ;
        margin:0 auto 0;
    }
    .far{
        font-size:4.6rem;
    }

    .computer, .result, .game-result{
        font-size: 1.2rem;
    }

    .simple-button{
        margin:0 auto 2vh;
        width:100px;
        height: 30px;
        font-size: 1rem;
        }

}

@media (max-width:768px) and (orientation:landscape){

    h1{
        font-size:3rem;
       }

    button.start{
        font-size: 2.5rem;
    }

    .far{
        font-size:4.6rem;
    }

    .computer, .result, .game-result{
        font-size: 1.7rem;
    }

    .result{
        margin:1vh;
    }
    div.select{
        height: 15vh;
        margin:0.4vh 10vw 0
    };

}

@media (max-width:640px) and (orientation:landscape) {
    h1{
        font-size:2rem;
       }

    button.start{
        font-size: 1.5rem;
    }

    .far{
        font-size:4.6rem;
    }

    .computer, .result, .game-result{
        font-size: 1rem;
    }

    .result{
        margin:5vh ;
    }
    div.select{
        height: 10vh;
        margin:0;
    }
    .simple-button{
    margin:0 auto 2vh;
    width:100px;
    height: 30px;
    font-size: 1rem;
    }

}

/* Portraits media queries*/

@media (max-width:1024px) and (orientation:portrait){
    h1{
        font-size:6rem;
        margin: 5vh;
       }

    button.start{
        margin:3vh auto 0;
        display: block;
        font-size: 6rem;
    }

    .far{
        font-size:10rem;
    }

    .game-container{
        margin:4vh auto 0;
        width:50vw;
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-gap:50px;
        grid-template-rows: 20vh 20vh;
    }

    .computer, .result, .game-result{
        font-size: 3.4rem;
    }

    .result{
        margin:0;
    }
    div.select{
        height: 10vh;
        margin:0 auto;
        display:inline-grid;
        grid-template-columns:20vw 20vw 20vw;
        column-gap:2vw;
    
        
    }
    .simple-button{
    margin:0 auto 0;
    width:250px;
    height:100px;
    font-size: 2.5rem;
    } 
}

@media (max-width:768px) and (orientation:portrait){
    h1{
        font-size:5rem;
        margin: 5vh;
       }

    button.start{
        margin:5vh auto 0;
        display: block;
        font-size: 4.5rem;
    }

    .far{
        font-size:9rem;
    }

    .computer, .result, .game-result{
        font-size: 2.1rem;
    }

    .game-container{
        margin:0 auto 0;
    }

    .simple-button{
    margin:0 auto 0;
    width:150px;
    height:80px;
    font-size: 1.5rem;
    } 
}

@media (max-width:411px) and (orientation:portrait){
    h1{
        font-size:3.5rem;
        margin: 5vh;
       }

       div.select{
        margin:2vh 2vw 0;
        text-align: center;
        display:inline-grid;
        grid-template-columns:20vw 20vw 20vw;
        column-gap:10vw;
        height: 10vh;
    }

    button.start{
        margin:5vh auto 0;
        display: block;
        font-size: 2.5rem;
    }

    .far{
        font-size:7.5rem;
    }

    .computer, .result, .game-result{
        font-size: 1.5rem;
    }

    .game-container{
        grid-template-rows:2.5fr 1fr;
        width:auto;
        margin:2vw auto;
    }

    .simple-button{
    margin:0 auto 0;
    width:150px;
    height:40px;
    font-size: 1.rem;
    } 
}

@media (max-width:375px) and (orientation:portrait){

       div.select{
        margin:2vh auto 0;
        text-align: center;
        display:inline-grid;
        grid-template-columns:20vw 20vw 20vw;
        column-gap:30px;
        height: 8vh;
    }

    button.start{
        margin:5vh auto 0;
        display: block;
        font-size: 2.5rem;
    }

    .far{
        font-size:6rem;
    }

    .computer, .result, .game-result{
        font-size: 1.5rem;
    }

    .simple-button{
    margin:0 auto 0;
    width:120px;
    height:40px;
    font-size: 1.2rem;
    } 
}